body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#pageName {
  font-family: 'Nosifer', cursive;
}

.bountyContainer {
  color: firebrick;
  text-align: center;
}

#addBountyForm {
  margin: 5px;
}

#addBountyForm input,
select,
button {
  margin: 5px;
  padding: 3px;
}

.lightsaberImg {
  width: 75%;
  margin: 0;
}

.bounty {
  width: 80%;
  text-align: center;
  color: firebrick;
  padding: 5px;
  border: 3px solid yellow;
  margin: 25px auto;
  font-family: 'Kumar One', cursive;
}

.deleteButton {
  background-color: red;
  color: black;
  font-weight: bold;
  margin: 5px;
  padding: 3px;
  cursor: pointer;
  border-radius: 10px;
}

.bountyButton {
  background-color: yellow;
  color: black;
  font-weight: bold;
  margin: 5px;
  padding: 3px;
  cursor: pointer;
  border-radius: 10px;
}